#header{
    .header-main{
        .container{
            padding: 25px 0px;
        }
        &.none-scroll{
            display: none;
        }
        background-color: #000000;
        .logo{
            max-width: 197px;
            height: auto;
        }

        .search-form-hd{
            form{
                display: flex;
                input{
                    width: 363px;
                    height: 33.6px;
                    border:none;
                    outline: none;
                    padding-left: 10px;

                    &::placeholder{
                        font-size: 13px;
                    }
                }

                button{
                    width: 61px;
                    height: 33.6px;
                    background-color: #FFD52F;
                }
            }
        }

        .cart-flow{
            display: flex;
            align-items: center;
            .hot-line-box{
                display: flex;
                align-items: center;

                .title{
                    .media{
                        img{
                            width: 25px;
                        }
                        label{
                            font-size: 18px;
                            color: #FFD52F;
                            padding-right: 10px;
                            position: relative;
                        }
                    }
                   
                }

                .hot-line{
                    border-left: 2px solid #FFD52F;
                    padding-left: 10px;
                    font-size: 17px;
                    color: #FFD52F;
                }
            }

            .cart-box{
                margin-left: 33.5px;
                max-width: 50px;
                height: 50px;
                background: #FFD52F;
                border-radius: 50%;
                padding: 11px;
                position: relative;
                cursor: pointer;

                &:before{
                    content: "0";
                    font-size: 15px;
                    position: absolute;
                    top: 2px;
                    left: 53%;
                    transform: translateX(-50%);
                    font-weight: bold;
                }

                img{
                    margin-top: 5px;
                }
            }
        }
    }

    .header-bottom{
        background: #FFD52F;
        &.stuck-header{
            position: fixed;
            width: 100%;
            top:0;
            left: 0;
            z-index: 99;
            transition: .3s;
            animation: fade 1s forwards;

            @keyframes fade {
                0%{
                    opacity: 0;
                    visibility: hidden;
                }
                100%{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        @media only screen and (max-width: 768px){
            .container{
                padding: 15px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        @media only screen and (max-width: 576px){
            .container{
                padding: 15px 10px;
            }
        }

        .moblie-bar{
            #btn-mb-bar{
                border: none;
                outline: none;
                background: none;
                font-size: 25px;
            }
        }

        .logo-mb{
            max-width: 197px;
            height: auto;
        }

        .cart-box-mb{
            max-width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 11px;
            position: relative;
            cursor: pointer;

            &:before{
                content: "0";
                font-size: 15px;
                position: absolute;
                top: 2px;
                left: 53%;
                transform: translateX(-50%);
                font-weight: bold;
            }

            img{
                margin-top: 5px;
            }
        }

        .main-nav{
            ul{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{           
                &:hover{
                    color: #000;
                    background: #fff;
                }     

                &:hover .nav-link{
                    color: #000;
                }
                a{
                    padding: 15px 5px;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    transition: .3s;
                    display: block;
                }

                &:last-child{
                    .nav-link{
                        padding: 2px 5px;

                    }
                }

                &.has-child{
                    a:after{
                        content:"\f0d7";
                        font-family: "fontawesome";
                        padding-left: 10px;
                    }

                    a{
                        position: relative;
                    }

                    &:hover ul{
                        opacity: 1;
                        visibility: visible;
                    }

                    ul{
                        position: absolute;
                        background: #fff;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s;
                        z-index: 99;
                        width: 100%;
                        left: 0;
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            padding: 5px 10px;
                            font-size: 14px;

                            a:after{
                                display: none;
                            }
                            ul{
                                flex-direction: column;
                                padding: 5px 5px;
                            }
                        }
                    }
                }
            }
        }
        }
    }
}

.moblie-nav{
    position: fixed;
    top: 0;
    width: 300px;
    background: #000;
    height: 100vh;
    z-index: 100;
    transition: .3s ease-out;
    left: -100vw;

    @media only screen and (max-width: 768px){
        &{
            overflow-y: scroll;
        }
    }

    &.mb-nav-active{
        left: 0;
    }

    .mb-ul-nav{
        padding: 65px 20px;
        .mb-item{
            line-height: 40px;
            z-index: 3;
            .mb-link{
                color: #fff;
                font-size: 17px;
                text-transform: capitalize;
                font-weight: 500;

                &.btn-mb-link{
                    color: #000;
                }
               
            }

            &.has-child{
                position: relative;
                .btn-drop-nav-menu{
                    border: none;
                    outline: none;
                    background: none;
                    color: #fff;
                    position: absolute;
                    right: 0;
                    top: -1px;
                    z-index: 4;
                    transition: .2s;

                    &.active{
                        transform: rotateZ(90deg);
                    }
                }
                .drop-down{
                    padding-left: 10px;
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;
                    transition: .4s;

                    &.show-drop-down{
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                    }

                    li{
                        a{
                            color: #fff;
                        }
                    }
                }
               
            }
        }
        
    }

    .close-mb-box{
        position: absolute;
        top: 20px;
        right: 20px;

        #close-mb-nav{
            border: none;
            outline: none;
            background: none;
            color: #fff;
        }
    }
}

.overlay-mb{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000067;
    z-index: 99;
    display: none;

    &.show-overlay-mb{
        display: block;
    }
}

html.hc-nav-yscroll {
    overflow-y: scroll
}

body.hc-nav-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    min-height: 100%
}

.hc-offcanvas-nav {
    visibility: hidden;
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9999
}

.hc-offcanvas-nav.is-ios * {
    cursor: pointer !important
}

.hc-offcanvas-nav .nav-container {
    position: fixed;
    z-index: 9998;
    top: 0;
    width: 280px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    transition: transform .4s ease
}

.hc-offcanvas-nav .nav-wrapper {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overscroll-behavior: none;
    box-sizing: border-box
}

.hc-offcanvas-nav .nav-content {
    height: 100%;
    max-height: 100vh
}

.hc-offcanvas-nav .nav-wrapper-0>.nav-content {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box
}

.hc-offcanvas-nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.hc-offcanvas-nav li {
    position: relative;
    display: block
}

.hc-offcanvas-nav li.level-open>.nav-wrapper {
    visibility: visible
}

.hc-offcanvas-nav input[type="checkbox"] {
    display: none
}

.hc-offcanvas-nav label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer
}

.hc-offcanvas-nav a {
    position: relative;
    display: block;
    box-sizing: border-box;
    cursor: pointer
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
    text-decoration: none
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
    content: '';
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease .4s, opacity .4s ease
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
    visibility: visible;
    opacity: 1;
    transition-delay: .05s
}

.hc-offcanvas-nav:not(.nav-open)::after {
    pointer-events: none
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
    display: none
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
    min-width: 0;
    max-height: 0;
    overflow: hidden;
    transition: height 0s ease .4s
}

.hc-offcanvas-nav.nav-levels-expand .level-open>.nav-wrapper {
    max-height: none
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
    position: absolute;
    z-index: 9999;
    top: 0;
    height: 100%;
    visibility: hidden;
    transition: visibility 0s ease .4s, transform .4s ease
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
    position: static
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open>.nav-wrapper {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: transform .4s ease
}

.hc-offcanvas-nav.nav-position-left {
    left: 0
}

.hc-offcanvas-nav.nav-position-left .nav-container {
    left: 0;
    transform: translate3d(-280px, 0, 0)
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
    left: 0;
    transform: translate3d(-100%, 0, 0)
}

.hc-offcanvas-nav.nav-position-right {
    right: 0
}

.hc-offcanvas-nav.nav-position-right .nav-container {
    right: 0;
    transform: translate3d(280px, 0, 0)
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
    right: 0;
    transform: translate3d(100%, 0, 0)
}

.hc-offcanvas-nav.nav-position-top {
    top: 0
}

.hc-offcanvas-nav.nav-position-top .nav-container {
    top: 0;
    width: 100%;
    height: auto;
    transform: translate3d(0, -100%, 0)
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
    left: 0;
    transform: translate3d(0, -100%, 0)
}

.hc-offcanvas-nav.nav-position-bottom {
    top: auto;
    bottom: 0
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
    transform: translate3d(0, 100%, 0)
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
    left: 0;
    transform: translate3d(0, 100%, 0)
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
    transform: translate3d(0, 0, 0)
}

.hc-nav-trigger {
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    top: 30px;
    left:10px;
    z-index: 9980;
    width: 30px;
    min-height: 24px;
}

.hc-nav-trigger span {
    width: 30px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transform-origin: 50% 50%
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
    display: block;
    position: absolute;
    left: 0;
    height: 4px;
    background: #34495E;
    transition: all .2s ease
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
    content: '';
    width: 100%
}

.hc-nav-trigger span::before {
    top: -10px
}

.hc-nav-trigger span::after {
    bottom: -10px
}

.hc-nav-trigger.toggle-open span {
    background: rgba(0, 0, 0, 0);
    transform: rotate(45deg)
}

.hc-nav-trigger.toggle-open span::before {
    transform: translate3d(0, 10px, 0)
}

.hc-nav-trigger.toggle-open span::after {
    transform: rotate(-90deg) translate3d(10px, 0, 0)
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
    background: rgba(0, 0, 0, 0.3)
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
    background: #336ca6
}

.hc-offcanvas-nav h2 {
    font-size: 19px;
    font-weight: normal;
    text-align: left;
    padding: 20px 17px;
    color: #1b3958
}

.hc-offcanvas-nav a {
    padding: 14px 17px;
    font-size: 15px;
    color: #fff;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #2c5d8f
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
    background: #31679e
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child)>li:first-child:not(.nav-back):not(.nav-close)>a {
    border-top: 1px solid #2c5d8f;
    margin-top: -1px
}

.hc-offcanvas-nav li {
    text-align: left
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
    background: #2c5d8f;
    border-top: 1px solid #295887;
    border-bottom: 1px solid #295887
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
    background: #2b5c8d
}

.hc-offcanvas-nav li.nav-parent a {
    padding-right: 58px
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    transition: background .2s ease
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff
}

.hc-offcanvas-nav li.nav-close span::before {
    margin-left: -9px;
    transform: rotate(135deg)
}

.hc-offcanvas-nav li.nav-close span::after {
    transform: rotate(-45deg)
}

.hc-offcanvas-nav a[href]:not([href="#"])>span.nav-next {
    border-left: 1px solid #2c5d8f
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-left: -2px;
    box-sizing: border-box;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform-origin: center
}

.hc-offcanvas-nav span.nav-next::before {
    transform: translate(-50%, -50%) rotate(135deg)
}

.hc-offcanvas-nav li.nav-back span::before {
    transform: translate(-50%, -50%) rotate(-45deg)
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2)
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2)
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(-45deg)
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(135deg)
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(-135deg)
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(45deg)
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2)
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(45deg)
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(-135deg)
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
    box-shadow: none;
    background: transparent
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
    display: none
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
    font-size: 14px
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
    transition: background .3s ease
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
    background: #2e6296
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
    border-bottom: 1px solid #295887
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
    background: #333;
  }
  
  .hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
    background: #333;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .hc-offcanvas-nav a {
    border-bottom: 1px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
  }
  
  .hc-offcanvas-nav h2 {
    font-weight: bold;
    color: #fff;
    font-size: 15px;
  }
  
  .hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
    border-left: 0;
    width: 25px;
    height: 15px;
  }
  
  .hc-offcanvas-nav li.nav-close span::before {
    margin-left: -10px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: -13px;
  }
  
  .hc-offcanvas-nav li.nav-close span::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: -13px;
    margin-left: -1px;
  }
  
  .nav-close a {
    padding: 25px 15px;
  }
  
  .hc-offcanvas-nav h2 {
    text-transform: uppercase;
  }