@import "reset";
@import "header";
@import "footer";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

@mixin main-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #FFD52F;
    margin-bottom: 10px;

    .title-cate{
        background: #FFD52F;
        padding: 9px 60px 9px 13px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    }
    a{
        font-size: 14px;

        &:after{
            content:"\f101";
            font-family: "fontawesome";
        }
    }
}

// ------------------------------------------------------------------- home-page-----------------------------------------------------------------------

.product-box{
    max-width: 213px;
    height: 295px;
    background: #FFFFFF;
    position: relative;
    z-index: 1;
    margin-bottom: 14px;
    -webkit-box-shadow: -1px 1px 6px 3px rgba(238,240,240,0.82); 
    box-shadow: -1px 1px 6px 3px rgba(238,240,240,0.82);

    @media only screen and (max-width:768px){
        &{
            margin-bottom: 20px;
        }
    }

    @media only screen and (max-width:576px){
        &{
            height: auto;
            margin-bottom: 14px;
        }
    }
    
    &:hover .hover-descrip{
        opacity: 1;
        visibility: visible;
    }
    
    .product-images{
        height: 215px;
        width: 100%;
        padding: 10px;
        img{
            width: 100%;
            height: auto;
        }
        @media only screen and (max-width:576px){
            &{
                height: 180px;
            }
        }
    }

    .box-text{
        text-align: center;
        padding: 0px 15px;
        .product-title{
            a{
                font-size: 14px;
                font-weight: bold;    
			  display: -webkit-box;
			  -webkit-line-clamp: 2;
			  -webkit-box-orient: vertical;
			  overflow: hidden;
			  text-overflow: ellipsis;        
            }
        }

        .product-price{
            span{
                font-size: 14px;
                color: #F0565D;
            }
        }
    }

    .hover-descrip{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #f7f8f8e0;       
        text-align: center;
        padding: 18px 0px;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        p{
            font-size: 13px;
			  display: -webkit-box;
			  -webkit-line-clamp: 1;
			  -webkit-box-orient: vertical;
			  overflow: hidden;
			  text-overflow: ellipsis;
        }

        .info-one{
            padding: 0px 23px 2px 23px;
            border-bottom: 1px solid #C4C6C8;
            font-weight: 700;

            .title{
                p{
                    color: #0095DA;
                    font-weight: 700;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis; 
                }
            }

            .price-online{
                padding-top: 20px;
                p{
                    color: #F0565D;                   
                }
            }

            .price-normal{
                p{
                    color: #000;
                }
            }
        }

        .info-two{
            padding: 5px 10px;
            color: #000;
            border-bottom: 1px solid #C4C6C8;
            font-weight: 700;
        }

        .info-three{
            color: #000;
        }
    }
}

.banner{
    overflow-x: hidden;
    .owl-carousel{       
        .item{
            width: 100%;
            margin-bottom: unset;
            img{
                object-fit: fill;
                height: 533px;
                @media only screen and (max-width: 768px){
                    &{
                        height: auto;
                    }
                }
            }
        }

        &.owl-theme .owl-dots{
            position: absolute;
            top: 91%;
            left: 50%;
            transform: translateX(-50%);

            @media only screen and (max-width: 768px){
                &{
                    top: 85%;
                }
            }

            @media only screen and (max-width: 576px){
                &{
                    top: 75%;
                }
            }
        }

        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #231F20;
            }
            span{
                margin: 5px 2px;
                background: #BCBDC0;
                width: 15px;
                height: 15px;
                @media only screen and (max-width: 576px){
                    &{
                        width: 10px;
                        height: 10px;
                    }
                }
    
                &:hover{
                    background-color: #231F20;
                }
            }
        }


        .owl-nav{
            button{
                background-color: none;
                border: none;
                outline: none;
                font-size: 90px;
                z-index: 4;
                color: red;
                @media only screen and (max-width: 576px){
                    &{
                        font-size: 40px;
                    }
                }
                &.owl-prev{
                    position: absolute;
                    top: 50%;
                    left: 5%;
                    transform: translateY(-50%);
                    color: #FBAA29;
                    @media only screen and (max-width: 768px){
                        &{
                            left: 5%;
                        }
                    }
                }
    
                &.owl-next{
                    position: absolute;
                    top: 50%;
                    right: 5%;
                    transform: translateY(-50%);
                    color: #FBAA29;
                    @media only screen and (max-width: 768px){
                        &{
                            right: 5%;
                        }
                    }
                }
            }
        }
    }
}

.pro-cate{
    background-color: #F6F7F8;
    .main-title-box{
        @include main-title-box();
    }
    .row.no-gutters>.col, .no-gutters>[class*=col-]{
        padding-right: 7px;
        padding-left: 7px;
    }

    .row.no-gutters{
        margin-right: -7px;
        margin-left: -7px;
        @media (min-width: 992px){
            .col-lg{        
                flex: 0 0 20%;                 
           }
        }
        
    }

    &.cate-one{
        padding-top: 40px;        
    }

    &.cate-two{
        padding-top: 35px;
    }

    &.cate-three{
        padding-top: 35px;
    }

    &.cate-four{
        padding-top: 35px;
    }

    &.cate-five{
        padding-top: 35px;
    }

    &.cate-six{
        padding-top: 35px;
        padding-bottom: 30px;
    }

    &.cate-related{
        padding-top: 35px;
        padding-bottom: 30px;
    }

    &.cate-brand{
        background-color: #fff;
        padding-top: 35px;
        padding-bottom: 30px;
    }

    &.category-list{
        padding-top: 35px;
        padding-bottom: 30px;
        margin-top: 25px;
    }
}

.blog-post{
    background-color: #fff;
    padding-top: 40px;
    .blog-title{
        text-align: center;
        position: relative;

        h2{
            font-size: 30px;
            color: #58585A;
            text-transform: uppercase;        
        }

        .line{
            width: 147px;
            margin: 16px auto 50px auto;
        }
    }

    .media{
        border-bottom: 2px solid #D3D4D5;
        padding-bottom: 30px;
        margin-bottom: 30px;
        flex-wrap: wrap;

        &:last-child{
            border-bottom: unset;
        }

        .blog-images{
            max-width: 236px;
            height: 170px;
            flex: 0 0 25%;
            @media only screen and(max-width: 768px){
                &{
                    max-width: 100%;
                    height: auto;
                    flex: 0 0 100%;
                }
            }
        }

        .box-text{
            flex: 0 0 75%;
            @media only screen and (max-width: 768px){
                &{
                    flex: 0 0 100%;
                }
            }
            .title{
                a{
                    font-size: 22px;
                    color: #58585A;
                    text-transform: uppercase;
                }
            }

            .desc{
                padding-top: 13px;
                .excerpt{
                    font-size: 14px;
                    text-align: justify;
                    line-height: 24px;

                    .see-more{
                        &:after{
                            content:"\f101";
                            font-family: "fontawesome";
                            padding-left: 5px;
                        }
                    }
                }

                .date{
                    color: #0095DA;
                    font-size: 14px;
                    padding-top: 6px;
                }
            }
        }
    }

    
}

.pages{
    &.cate-cus{
        background: #F6F7F8;
    }      
    .pagination{
        .page-item{
            margin-right: 13px;
            margin-bottom: 5px;
            &:last-child{
                margin-right: unset;
                .page-link:after{
                    content:"\f101";
                    font-family: "fontawesome";
                    padding-left: 3px;
                } 
            }

            &:first-child{
                .page-link:before{
                    content:"\f100";
                    font-family: "fontawesome";
                    padding-right: 3px;
                }               
            }

            .page-link{
                border-radius: unset;
                border: 1px solid #B6B6B8;
                font-size: 14px;
                color: #6D6E71;

                &.active{
                    background-color: #6D6E71;
                    color: #fff;
                }

                &:hover{
                    background-color: #6D6E71;
                    color: #fff;
                }
            }
        }
    }
}

.client-feed-back{
    background-color: #F6F7F8;
    padding: 40px 0px;
    margin-top: 25px;
    .blog-title{
        text-align: center;
        position: relative;

        h2{
            font-size: 30px;
            color: #58585A;
            text-transform: uppercase;        
        }

        .line{
            width: 147px;
            margin: 16px auto 25px auto;
        }
    }

    .slider-feed-back{
        
        .owl-carousel{       
            .item{
                width: 100%;
                margin-bottom: unset;
                img{
                    object-fit: fill;
                    height: 533px;
                    @media only screen and (max-width: 768px){
                        &{
                            height: auto;
                        }
                    }
                }
            }

            &.owl-theme .owl-nav.disabled+.owl-dots {
                margin-top: -5px;
            }
    
    
            &.owl-theme .owl-dots .owl-dot{
                outline: none;
                &.active span{
                    background-color: #231F20;
                }
                span{
                    margin: 5px 2px;
                    background: #BCBDC0;
                    width: 10px;
                    height: 10px;
                    @media only screen and (max-width: 576px){
                        &{
                            width: 10px;
                            height: 10px;
                        }
                    }
        
                    &:hover{
                        background-color: #231F20;
                    }
                }
            }
        }
        .card{
            text-align: center;
            border:none;
            background-color: transparent;
            .client-images{
                max-width: 116px;
                height: 116px;
                overflow: hidden;
                border-radius: 50%;
                margin: auto;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-body.talk{
                padding: 0px 175px 16px 175px;
                line-height: 38px;

                @media only screen and (max-width: 768px){
                    &{
                        padding: unset;
                    }
                }
            }
        }
        
    }
}

// ------------------------------------------------------------------- product-detail -------------------------------------------------------------------

.breadcumb-pages{
    background: #F6F7F8;
    .breadcrumb{
        background: transparent;
        padding: 15px 0px;
     
        li{
            font-size: 14px;
        }       
    }
}

.infor-product{
    .product-galerry{
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .slider-for{
            -webkit-box-shadow: 0px 2px 16px 1px rgba(233,236,239,0.61); 
            box-shadow: 0px 2px 16px 1px rgba(233,236,239,0.61);
            &:hover .slick-prev{
                opacity: 1;
                visibility: visible;
            }

            &:hover .slick-next{
                opacity: 1;
                visibility: visible;
            }
            .item{
                height: 385px;
                cursor: pointer;
            }
            .slick-prev{
                left: 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
                &:before{
                    content:"\f104";
                    font-family: "fontawesome";
                    color: #000;
                }
            }
    
            .slick-next{          
                right: 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
                &:before{
                    content:"\f105";
                    font-family: "fontawesome";
                    color: #000;
                }
            }
        }

        .slider-nav{
            background-color: rgba(246, 247, 248, 0.753);
            margin-top: 16px;
            &:hover .slick-prev{
                opacity: 1;
                visibility: visible;
            }

            &:hover .slick-next{
                opacity: 1;
                visibility: visible;
            }
            .item{               
                cursor: pointer;
                height: 100%;
                img{
                    border: 1px solid rgba(246, 247, 248, 0.753);
                    padding: 0px 5px;
                }
            }
            .slick-prev{
                background: rgba(188, 189, 192, 0.699);
                height: 100%;
                left: 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
                &:before{
                    content:"\f104";
                    font-family: "fontawesome";
                    color: #000;
                }
            }

            .slick-next{
                background: rgba(188, 189, 192, 0.699);
                height: 100%;
                right: 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
                &:before{
                    content:"\f105";
                    font-family: "fontawesome";
                    color: #000;
                }
            }
        }
        
    }

    .infor-shop{
        text-align: center;
        padding-top: 15px;

        h4{
            text-transform: uppercase;
            font-size: 14px;
            line-height: 24px;
        }
    }

    .exceprt-product{
        .product-title{
            padding-bottom: 20px;
            border-bottom: 2px solid #7FCAEC;
            h1{
                font-size: 28px;
                color: #0095DA;
                line-height: 40px;
            }
            p{
                font-size: 13px;
                color: #0095DA;
            }
        }

        .custom-field{
            padding-top: 24px;
            padding-bottom: 23px;
            font-size: 13px;
            border-bottom: 1px solid #3F3F3F;
            .row-field{
                h4{
                    padding-bottom: 15px;
                }
                .list-field{
                    @media only screen and (max-width: 768px){
                        &{
                            margin-bottom: 15px;
                        }
                    }
                    li{
                        line-height: 25px;
                    }
                }
            }
        }

        .price-box{
            font-size: 13px;
            padding-top: 17px;
            font-weight: 700;
            .price-online{
                padding-top: 4px;
            }
        }

        .add-to-cart-box{
            display: flex;
            padding-top: 12px;
            .btn-cart-box {
                background: #FFD52F;
                font-size: 14px;
                font-weight: 700;
                padding: 8px 40px;
                text-transform: uppercase;
                border-radius: 5px;
                &.buy-now{
                    margin-right: 24px;
                }

                @media only screen and (max-width: 768px){
                    &{
                        flex: 1;
                        padding: 8px 0px;
                    }
                    &.buy-now{
                        margin-right: 15px;
                    }
                }

                
            }
        }

        .hot-line{
            padding-top: 18px;
            p{
                font-size: 18px;
                font-weight: 700;
                position: relative;
                padding-left: 40px;
                &:before{
                    content: "";
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    background-image: url(../images_icon/phone2.png);
                    background-repeat: no-repeat;
                    background-size: 30px 30px;
                    top:0;
                    left: 0;
                }
            }
        }
    }
}

.located-product{
    background: #F6F7F8;
    padding: 27px 0px;
    margin-top: 25px;
    .located-title{
        background: #FFD52F;
        h2{
            font-size: 14px;
            text-transform: uppercase;
            padding: 13px; 
        }
    }

    .located-map{
        border-bottom: 1px solid #B9BBBE;
        padding-bottom: 24px;
        padding-top: 15px;
        ul{
            li{
                display: flex;
                flex-wrap: wrap;
                line-height: 30px;
                @media only screen and (max-width:768px){
                    &{
                        justify-content: space-between;
                    }
                }
                p{  
                    font-size: 14px;
                    display: inline-block;
                    flex:1;
                    font-weight: 700;
                    &:first-child{
                        margin-right: 60px;
                    }

                    @media only screen and (max-width:768px){
                        &{
                            flex:1;
                        }

                        &:first-child{
                            margin-right: 20px;
                        }
                    }

                    @media only screen and (max-width:576px){
                        &{
                            flex:0 0 100%;
                        }

                        &:first-child{
                            margin-right: unset;
                        }
                    }
                }
            }
        }
    }

    .located-contact{
        padding: 23px 0px;
        border-bottom: 1px solid #B9BBBE;
        .flex-ul{
            display: flex;

            @media only screen and (max-width: 768px){
                &{
                    margin-bottom: 10px;
                }
            }

            li{
                flex: 1;
                font-size: 14px;

                &:first-child{
                    p{
                        font-weight: 700;
                        position: relative;
                        padding-left: 28px;

                        &:before{
                            content: "";
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            background-image: url(../images_icon/phone2.png);
                            background-repeat: no-repeat;
                            background-size: 20px 20px;
                            top:0;
                            left: 0;
                        }
                    }
                }

                &:last-child{
                    p{
                        color: #ED1C24;
                    }
                }
            }
        }
    }

    .located-sale{
        padding-top: 25px;
        .sale-box{
            li{
                display: flex;
                flex-wrap: wrap;
                line-height: 28px;
                p{
                    font-size: 14px;
                    font-weight: 700;
                    &:last-child{
                        padding-left: 100px;
                    }
                    @media only screen and (max-width:768px){
                        &{
                            flex:1;
                        }

                        &:last-child{
                            padding-left: unset;
                        }
                    }

                    @media only screen and (max-width:576px){
                        &{
                            flex:0 0 100%;
                        }

                        &:last-child{
                            padding-left: unset;
                        }
                    }

                    &:before{
                        content:"\f101";
                        font-family: "fontawesome";
                        padding-right: 3px;
                    }
                }
            }
        }
    }
}

.product-tabs{
    padding-top: 26px;
    .tabs-box{
        .tabs-title{
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            
            h3{
                border-bottom: 1px solid #A0A1A3;
                padding-bottom: 10px;
                span{
                    border-bottom: 1px solid #FFD52F;
                    padding-bottom: 10px;
                }
            }
        }

        .content{
            padding-top: 20px;
        }
    }
}

.right-widget{
    .main-title-box{
        @include main-title-box();
    }

    .right-widget-product{

        .owl-carousel{
            .owl-nav{
                opacity: 1;
                visibility: visible;
                transition: .3s ease-in-out;
                margin-top: unset;
                position: absolute;
                top: -35px;
                right: 0;
                display: flex;
                justify-content: flex-start;
                button{
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 28px;
                    width: 5px;
                    z-index: 4;
                    &:hover{
                        background: none;
                        color: #000;
                    }
        
                    &.owl-prev{
                        position: static;
                    }
        
                    &.owl-next{
                        position: static;
                    }
                }
            }
        }
        .media{
            border: 2px solid #F0F1F0;
            border-radius: 5px;
            margin-bottom: 20px;
            .images{
                max-width: 115px;
                height: 115px;
                flex: 1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }

            .media-body{
                margin-top: 10px;
                margin-left: 40px;
                padding: 0px 20px 0px 0px;
                .title{
                    font-size: 14px;
                    font-weight: bold;
                    color: #000;
                }

                .price{
                    font-size: 14px;
                    font-weight: bold;
                    color: #F0565D;
                    padding-top: 15px;
                }
            }
        }
    }
}

// ---------------------------------------------------------------------- category -----------------------------------------------------------------------

.form-res{
    select{
        width: 100%;
        border: 1px solid #E3E3E3;
        font-size: 14px;
        height: 30px;
        padding-left: 10px;

        @media only screen and (max-width: 768px){
            &{
                margin-bottom: 10px;
            }
        }
    }
}

.list-blog-cate{
    padding: 35px 0px;
    .main-title-box{
        @include main-title-box();
    }

    .card{
        border: none;
        border-radius: unset;
        background: #FFFFFF;
        -webkit-box-shadow: -1px 1px 6px 3px rgba(238,240,240,0.82); 
        box-shadow: -1px 1px 6px 3px rgba(238,240,240,0.82);
        margin-bottom: 25px;

        .imgaes{
            .card-img-top{
                border-radius: unset;
            }
        }

        .card-body{
            padding: 10px;

            .card-title{
                font-weight: 700;
            }
        }
    }
}

.main-blog-detail{
    padding: 35px 0px;
    .detail-box{
        .blog-title{
            h1{
                font-size: 30px;
                font-weight: 700;
            }
        }

        .content{
            padding-top: 25px;
        }

        .tag-blogs{
            margin-top: 25px;
            background-color: #F6F7F8;
            padding: 15px 0px 15px 15px;
            border: 1px solid #F0F1F0;
            border-radius: 5px;
        }
    }

    .related-blogs{
        padding: 25px 0px;
        .related-title{
            font-size: 25px;
            text-transform: capitalize;
            font-weight: 700;
            h2{
                border-bottom: 1px solid #A0A1A3;
                padding-bottom: 15px;

                span{
                    border-bottom: 1px solid #FFD52F;
                    padding-bottom: 15px;
                }
            }
        }

        .list-related{
            padding-top: 10px;
            ul{
                li{
                    a{
                        font-size: 16px;
                        font-weight: bold;

                        &::before{
                            content:"\f105";
                            font-family: "fontawesome";
                            padding-right: 5px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
}

.single-main{
    padding: 40px 0px;
    .search-form-hd{
        form{
            display: flex;
            input{
                width: 363px;
                height: 33.6px;
                border-left: 1px solid #333;
                border-top: 1px solid #333;
                border-bottom: 1px solid #333;
                border-right: none;
                outline: none;
                padding-left: 10px;

                &::placeholder{
                    font-size: 13px;
                }
            }

            button{
                width: 61px;
                height: 33.6px;
                background-color: #FFD52F;
                border: 1px solid #333;
            }
        }
    }

    .el-res{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 80px;
            font-weight: 700;
            color: #000;
            opacity: .3;
        }
    }

    .page-title{
        padding-top: 15px;
        h3{
            font-size: 25px;
            font-weight: 700;
        }
    }

    .page-content{
        padding-top: 20px;
    }

    .search-form-hd{
        padding-top: 20px;
    }

}
