#footer {
  background: #000000;
  color: #fff;
  padding-top: 56px; }
  #footer .row .col-12:last-child {
    padding-left: 80px; }
    @media only screen and (max-width: 768px) {
      #footer .row .col-12:last-child {
        padding-right: 15px;
        padding-left: 15px; } }
  #footer p {
    font-size: 14px;
    line-height: 26px; }
  #footer .logo-footer {
    max-width: 326px;
    height: auto; }
  #footer .intro-company {
    padding-top: 13px;
    padding-left: 0;
    padding-right: 150px; }
    @media only screen and (max-width: 768px) {
      #footer .intro-company {
        padding-right: unset; } }
  #footer .contact-1 {
    padding-top: 22px; }
    #footer .contact-1 h4 {
      font-size: 15px;
      text-transform: uppercase;
      padding-bottom: 10px; }
  #footer .license {
    padding-top: 30px; }
  #footer .flex-map {
    display: flex;
    padding-top: 30px; }
    #footer .flex-map p {
      font-size: 12px;
      margin-bottom: 5px; }
    #footer .flex-map .map-1:last-child {
      margin-left: 15px; }
    #footer .flex-map .map-1 .img {
      max-width: 175px;
      height: 85px; }
  #footer .title-footer {
    padding-top: 35px; }
    #footer .title-footer h3 {
      font-size: 15px;
      text-transform: uppercase; }
  #footer .contact-2 {
    padding-top: 23px; }
    #footer .contact-2.mpd {
      padding-top: 30px; }
    #footer .contact-2:last-child .flex-w-img {
      display: flex; }
    #footer .contact-2:last-child .images {
      max-width: 170px;
      margin-left: 10px;
      margin-top: -22px; }
  #footer .navigation-ft {
    padding-top: 30px; }
    #footer .navigation-ft ul li a {
      line-height: 26px;
      color: #fff;
      font-size: 14px; }
  #footer .contact-3 {
    padding-top: 30px; }
    #footer .contact-3 .flex-img-3 {
      display: flex; }
      #footer .contact-3 .flex-img-3 .img:first-child {
        max-width: 51px;
        height: 62px; }
      #footer .contact-3 .flex-img-3 .img:last-child {
        height: 45px;
        max-width: 103px;
        align-self: flex-end;
        margin-left: 12px; }
    #footer .contact-3 .no-flex-img {
      background: #fff;
      max-width: 166px;
      margin-top: 10px; }
  #footer .end-ft {
    border-top: 2px solid #C8C9CB;
    padding-top: 32px;
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #footer .end-ft form {
      display: flex;
      flex-wrap: wrap; }
      #footer .end-ft form label {
        font-size: 14px;
        margin-right: 25px; }
      #footer .end-ft form .sign-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        width: 251px;
        height: 35px;
        border-radius: 15px; }
        #footer .end-ft form .sign-box input {
          border: none;
          outline: none;
          padding-left: 15px;
          background: none; }
        #footer .end-ft form .sign-box button {
          border: none;
          outline: none;
          background: none;
          padding-right: 17px;
          font-size: 18px; }
    @media only screen and (max-width: 576px) {
      #footer .end-ft .social-follow {
        margin-top: 15px; } }
    #footer .end-ft .social-follow a {
      background: #FFFFFF;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin-right: 7px; }
      #footer .end-ft .social-follow a:last-child {
        margin-right: unset; }
      #footer .end-ft .social-follow a .fa {
        color: #000; }
  #footer .text-end {
    text-align: center;
    padding-top: 53px;
    font-size: 13px; }
    #footer .text-end p {
      font-size: 13px; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #000 url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999; }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

/*# sourceMappingURL=footer.css.map */
