@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  img {
    object-fit: fill;
  }
}

@media only screen and (max-width) {
  html {
    overflow-x: hidden;
  }
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.owl-carousel .item {
  margin-bottom: 10px;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
}
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
  background: #FFFFFF;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.owl-carousel .owl-nav button {
  background: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

#header .header-main {
  background-color: #000000;
}
#header .header-main .container {
  padding: 25px 0px;
}
#header .header-main.none-scroll {
  display: none;
}
#header .header-main .logo {
  max-width: 197px;
  height: auto;
}
#header .header-main .search-form-hd form {
  display: flex;
}
#header .header-main .search-form-hd form input {
  width: 363px;
  height: 33.6px;
  border: none;
  outline: none;
  padding-left: 10px;
}
#header .header-main .search-form-hd form input::placeholder {
  font-size: 13px;
}
#header .header-main .search-form-hd form button {
  width: 61px;
  height: 33.6px;
  background-color: #FFD52F;
}
#header .header-main .cart-flow {
  display: flex;
  align-items: center;
}
#header .header-main .cart-flow .hot-line-box {
  display: flex;
  align-items: center;
}
#header .header-main .cart-flow .hot-line-box .title .media img {
  width: 25px;
}
#header .header-main .cart-flow .hot-line-box .title .media label {
  font-size: 18px;
  color: #FFD52F;
  padding-right: 10px;
  position: relative;
}
#header .header-main .cart-flow .hot-line-box .hot-line {
  border-left: 2px solid #FFD52F;
  padding-left: 10px;
  font-size: 17px;
  color: #FFD52F;
}
#header .header-main .cart-flow .cart-box {
  margin-left: 33.5px;
  max-width: 50px;
  height: 50px;
  background: #FFD52F;
  border-radius: 50%;
  padding: 11px;
  position: relative;
  cursor: pointer;
}
#header .header-main .cart-flow .cart-box:before {
  content: "0";
  font-size: 15px;
  position: absolute;
  top: 2px;
  left: 53%;
  transform: translateX(-50%);
  font-weight: bold;
}
#header .header-main .cart-flow .cart-box img {
  margin-top: 5px;
}
#header .header-bottom {
  background: #FFD52F;
}
#header .header-bottom.stuck-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: .3s;
  animation: fade 1s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@media only screen and (max-width: 768px) {
  #header .header-bottom .container {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  #header .header-bottom .container {
    padding: 15px 10px;
  }
}
#header .header-bottom .moblie-bar #btn-mb-bar {
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
}
#header .header-bottom .logo-mb {
  max-width: 197px;
  height: auto;
}
#header .header-bottom .cart-box-mb {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 11px;
  position: relative;
  cursor: pointer;
}
#header .header-bottom .cart-box-mb:before {
  content: "0";
  font-size: 15px;
  position: absolute;
  top: 2px;
  left: 53%;
  transform: translateX(-50%);
  font-weight: bold;
}
#header .header-bottom .cart-box-mb img {
  margin-top: 5px;
}
#header .header-bottom .main-nav ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-bottom .main-nav ul li:hover {
  color: #000;
  background: #fff;
}
#header .header-bottom .main-nav ul li:hover .nav-link {
  color: #000;
}
#header .header-bottom .main-nav ul li a {
  padding: 15px 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: .3s;
  display: block;
}
#header .header-bottom .main-nav ul li:last-child .nav-link {
  padding: 2px 5px;
}
#header .header-bottom .main-nav ul li.has-child a:after {
  content: "\f0d7";
  font-family: "fontawesome";
  padding-left: 10px;
}
#header .header-bottom .main-nav ul li.has-child a {
  position: relative;
}
#header .header-bottom .main-nav ul li.has-child:hover ul {
  opacity: 1;
  visibility: visible;
}
#header .header-bottom .main-nav ul li.has-child ul {
  position: absolute;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 99;
  width: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}
#header .header-bottom .main-nav ul li.has-child ul li {
  padding: 5px 10px;
  font-size: 14px;
}
#header .header-bottom .main-nav ul li.has-child ul li a:after {
  display: none;
}
#header .header-bottom .main-nav ul li.has-child ul li ul {
  flex-direction: column;
  padding: 5px 5px;
}

.moblie-nav {
  position: fixed;
  top: 0;
  width: 300px;
  background: #000;
  height: 100vh;
  z-index: 100;
  transition: .3s ease-out;
  left: -100vw;
}
@media only screen and (max-width: 768px) {
  .moblie-nav {
    overflow-y: scroll;
  }
}
.moblie-nav.mb-nav-active {
  left: 0;
}
.moblie-nav .mb-ul-nav {
  padding: 65px 20px;
}
.moblie-nav .mb-ul-nav .mb-item {
  line-height: 40px;
  z-index: 3;
}
.moblie-nav .mb-ul-nav .mb-item .mb-link {
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
}
.moblie-nav .mb-ul-nav .mb-item .mb-link.btn-mb-link {
  color: #000;
}
.moblie-nav .mb-ul-nav .mb-item.has-child {
  position: relative;
}
.moblie-nav .mb-ul-nav .mb-item.has-child .btn-drop-nav-menu {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  position: absolute;
  right: 0;
  top: -1px;
  z-index: 4;
  transition: .2s;
}
.moblie-nav .mb-ul-nav .mb-item.has-child .btn-drop-nav-menu.active {
  transform: rotateZ(90deg);
}
.moblie-nav .mb-ul-nav .mb-item.has-child .drop-down {
  padding-left: 10px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}
.moblie-nav .mb-ul-nav .mb-item.has-child .drop-down.show-drop-down {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.moblie-nav .mb-ul-nav .mb-item.has-child .drop-down li a {
  color: #fff;
}
.moblie-nav .close-mb-box {
  position: absolute;
  top: 20px;
  right: 20px;
}
.moblie-nav .close-mb-box #close-mb-nav {
  border: none;
  outline: none;
  background: none;
  color: #fff;
}

.overlay-mb {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000067;
  z-index: 99;
  display: none;
}
.overlay-mb.show-overlay-mb {
  display: block;
}

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform 0.4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease 0.4s, opacity 0.4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease 0.4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease 0.4s, transform 0.4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 30px;
  left: 10px;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all 0.2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background 0.3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #333;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #333;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

#footer {
  background: #000000;
  color: #fff;
  padding-top: 56px;
}
#footer .row .col-12:last-child {
  padding-left: 80px;
}
@media only screen and (max-width: 768px) {
  #footer .row .col-12:last-child {
    padding-right: 15px;
    padding-left: 15px;
  }
}
#footer p {
  font-size: 14px;
  line-height: 26px;
}
#footer .logo-footer {
  max-width: 326px;
  height: auto;
}
#footer .intro-company {
  padding-top: 13px;
  padding-left: 0;
  padding-right: 150px;
}
@media only screen and (max-width: 768px) {
  #footer .intro-company {
    padding-right: unset;
  }
}
#footer .contact-1 {
  padding-top: 22px;
}
#footer .contact-1 h4 {
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#footer .license {
  padding-top: 30px;
}
#footer .flex-map {
  display: flex;
  padding-top: 30px;
}
#footer .flex-map p {
  font-size: 12px;
  margin-bottom: 5px;
}
#footer .flex-map .map-1:last-child {
  margin-left: 15px;
}
#footer .flex-map .map-1 .img {
  max-width: 175px;
  height: 85px;
}
#footer .title-footer {
  padding-top: 35px;
}
#footer .title-footer h3 {
  font-size: 15px;
  text-transform: uppercase;
}
#footer .contact-2 {
  padding-top: 23px;
}
#footer .contact-2.mpd {
  padding-top: 30px;
}
#footer .contact-2:last-child .flex-w-img {
  display: flex;
}
#footer .contact-2:last-child .images {
  max-width: 170px;
  margin-left: 10px;
  margin-top: -22px;
}
#footer .navigation-ft {
  padding-top: 30px;
}
#footer .navigation-ft ul li a {
  line-height: 26px;
  color: #fff;
  font-size: 14px;
}
#footer .contact-3 {
  padding-top: 30px;
}
#footer .contact-3 .flex-img-3 {
  display: flex;
}
#footer .contact-3 .flex-img-3 .img:first-child {
  max-width: 51px;
  height: 62px;
}
#footer .contact-3 .flex-img-3 .img:last-child {
  height: 45px;
  max-width: 103px;
  align-self: flex-end;
  margin-left: 12px;
}
#footer .contact-3 .no-flex-img {
  background: #fff;
  max-width: 166px;
  margin-top: 10px;
}
#footer .end-ft {
  border-top: 2px solid #C8C9CB;
  padding-top: 32px;
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer .end-ft form {
  display: flex;
  flex-wrap: wrap;
}
#footer .end-ft form label {
  font-size: 14px;
  margin-right: 25px;
}
#footer .end-ft form .sign-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 251px;
  height: 35px;
  border-radius: 15px;
}
#footer .end-ft form .sign-box input {
  border: none;
  outline: none;
  padding-left: 15px;
  background: none;
}
#footer .end-ft form .sign-box button {
  border: none;
  outline: none;
  background: none;
  padding-right: 17px;
  font-size: 18px;
}
@media only screen and (max-width: 576px) {
  #footer .end-ft .social-follow {
    margin-top: 15px;
  }
}
#footer .end-ft .social-follow a {
  background: #FFFFFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 7px;
}
#footer .end-ft .social-follow a:last-child {
  margin-right: unset;
}
#footer .end-ft .social-follow a .fa {
  color: #000;
}
#footer .text-end {
  text-align: center;
  padding-top: 53px;
  font-size: 13px;
}
#footer .text-end p {
  font-size: 13px;
}
#footer a.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #000 url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999;
}
#footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
#footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
  color: #CCCCCC;
  text-decoration: none;
}
#footer a.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
#footer a.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

.product-box {
  max-width: 213px;
  height: 295px;
  background: #FFFFFF;
  position: relative;
  z-index: 1;
  margin-bottom: 14px;
  -webkit-box-shadow: -1px 1px 6px 3px rgba(238, 240, 240, 0.82);
  box-shadow: -1px 1px 6px 3px rgba(238, 240, 240, 0.82);
}
@media only screen and (max-width: 768px) {
  .product-box {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .product-box {
    height: auto;
    margin-bottom: 14px;
  }
}
.product-box:hover .hover-descrip {
  opacity: 1;
  visibility: visible;
}
.product-box .product-images {
  height: 215px;
  width: 100%;
  padding: 10px;
}
.product-box .product-images img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 576px) {
  .product-box .product-images {
    height: 180px;
  }
}
.product-box .box-text {
  text-align: center;
  padding: 0px 15px;
}
.product-box .box-text .product-title a {
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-box .box-text .product-price span {
  font-size: 14px;
  color: #F0565D;
}
.product-box .hover-descrip {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #f7f8f8e0;
  text-align: center;
  padding: 18px 0px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.product-box .hover-descrip p {
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-box .hover-descrip .info-one {
  padding: 0px 23px 2px 23px;
  border-bottom: 1px solid #C4C6C8;
  font-weight: 700;
}
.product-box .hover-descrip .info-one .title p {
  color: #0095DA;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-box .hover-descrip .info-one .price-online {
  padding-top: 20px;
}
.product-box .hover-descrip .info-one .price-online p {
  color: #F0565D;
}
.product-box .hover-descrip .info-one .price-normal p {
  color: #000;
}
.product-box .hover-descrip .info-two {
  padding: 5px 10px;
  color: #000;
  border-bottom: 1px solid #C4C6C8;
  font-weight: 700;
}
.product-box .hover-descrip .info-three {
  color: #000;
}

.banner {
  overflow-x: hidden;
}
.banner .owl-carousel .item {
  width: 100%;
  margin-bottom: unset;
}
.banner .owl-carousel .item img {
  object-fit: fill;
  height: 533px;
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel .item img {
    height: auto;
  }
}
.banner .owl-carousel.owl-theme .owl-dots {
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel.owl-theme .owl-dots {
    top: 85%;
  }
}
@media only screen and (max-width: 576px) {
  .banner .owl-carousel.owl-theme .owl-dots {
    top: 75%;
  }
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #231F20;
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 2px;
  background: #BCBDC0;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 576px) {
  .banner .owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #231F20;
}
.banner .owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 90px;
  z-index: 4;
  color: red;
}
@media only screen and (max-width: 576px) {
  .banner .owl-carousel .owl-nav button {
    font-size: 40px;
  }
}
.banner .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #FBAA29;
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel .owl-nav button.owl-prev {
    left: 5%;
  }
}
.banner .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: #FBAA29;
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel .owl-nav button.owl-next {
    right: 5%;
  }
}

.pro-cate {
  background-color: #F6F7F8;
}
.pro-cate .main-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #FFD52F;
  margin-bottom: 10px;
}
.pro-cate .main-title-box .title-cate {
  background: #FFD52F;
  padding: 9px 60px 9px 13px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}
.pro-cate .main-title-box a {
  font-size: 14px;
}
.pro-cate .main-title-box a:after {
  content: "\f101";
  font-family: "fontawesome";
}
.pro-cate .row.no-gutters > .col, .pro-cate .no-gutters > [class*=col-] {
  padding-right: 7px;
  padding-left: 7px;
}
.pro-cate .row.no-gutters {
  margin-right: -7px;
  margin-left: -7px;
}
@media (min-width: 992px) {
  .pro-cate .row.no-gutters .col-lg {
    flex: 0 0 20%;
  }
}
.pro-cate.cate-one {
  padding-top: 40px;
}
.pro-cate.cate-two {
  padding-top: 35px;
}
.pro-cate.cate-three {
  padding-top: 35px;
}
.pro-cate.cate-four {
  padding-top: 35px;
}
.pro-cate.cate-five {
  padding-top: 35px;
}
.pro-cate.cate-six {
  padding-top: 35px;
  padding-bottom: 30px;
}
.pro-cate.cate-related {
  padding-top: 35px;
  padding-bottom: 30px;
}
.pro-cate.cate-brand {
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 30px;
}
.pro-cate.category-list {
  padding-top: 35px;
  padding-bottom: 30px;
  margin-top: 25px;
}

.blog-post {
  background-color: #fff;
  padding-top: 40px;
}
.blog-post .blog-title {
  text-align: center;
  position: relative;
}
.blog-post .blog-title h2 {
  font-size: 30px;
  color: #58585A;
  text-transform: uppercase;
}
.blog-post .blog-title .line {
  width: 147px;
  margin: 16px auto 50px auto;
}
.blog-post .media {
  border-bottom: 2px solid #D3D4D5;
  padding-bottom: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.blog-post .media:last-child {
  border-bottom: unset;
}
.blog-post .media .blog-images {
  max-width: 236px;
  height: 170px;
  flex: 0 0 25%;
}
@media only screen and (max-width: 768px) {
  .blog-post .media .blog-images {
    max-width: 100%;
    height: auto;
    flex: 0 0 100%;
  }
}
.blog-post .media .box-text {
  flex: 0 0 75%;
}
@media only screen and (max-width: 768px) {
  .blog-post .media .box-text {
    flex: 0 0 100%;
  }
}
.blog-post .media .box-text .title a {
  font-size: 22px;
  color: #58585A;
  text-transform: uppercase;
}
.blog-post .media .box-text .desc {
  padding-top: 13px;
}
.blog-post .media .box-text .desc .excerpt {
  font-size: 14px;
  text-align: justify;
  line-height: 24px;
}
.blog-post .media .box-text .desc .excerpt .see-more:after {
  content: "\f101";
  font-family: "fontawesome";
  padding-left: 5px;
}
.blog-post .media .box-text .desc .date {
  color: #0095DA;
  font-size: 14px;
  padding-top: 6px;
}

.pages.cate-cus {
  background: #F6F7F8;
}
.pages .pagination .page-item {
  margin-right: 13px;
  margin-bottom: 5px;
}
.pages .pagination .page-item:last-child {
  margin-right: unset;
}
.pages .pagination .page-item:last-child .page-link:after {
  content: "\f101";
  font-family: "fontawesome";
  padding-left: 3px;
}
.pages .pagination .page-item:first-child .page-link:before {
  content: "\f100";
  font-family: "fontawesome";
  padding-right: 3px;
}
.pages .pagination .page-item .page-link {
  border-radius: unset;
  border: 1px solid #B6B6B8;
  font-size: 14px;
  color: #6D6E71;
}
.pages .pagination .page-item .page-link.active {
  background-color: #6D6E71;
  color: #fff;
}
.pages .pagination .page-item .page-link:hover {
  background-color: #6D6E71;
  color: #fff;
}

.client-feed-back {
  background-color: #F6F7F8;
  padding: 40px 0px;
  margin-top: 25px;
}
.client-feed-back .blog-title {
  text-align: center;
  position: relative;
}
.client-feed-back .blog-title h2 {
  font-size: 30px;
  color: #58585A;
  text-transform: uppercase;
}
.client-feed-back .blog-title .line {
  width: 147px;
  margin: 16px auto 25px auto;
}
.client-feed-back .slider-feed-back .owl-carousel .item {
  width: 100%;
  margin-bottom: unset;
}
.client-feed-back .slider-feed-back .owl-carousel .item img {
  object-fit: fill;
  height: 533px;
}
@media only screen and (max-width: 768px) {
  .client-feed-back .slider-feed-back .owl-carousel .item img {
    height: auto;
  }
}
.client-feed-back .slider-feed-back .owl-carousel.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -5px;
}
.client-feed-back .slider-feed-back .owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.client-feed-back .slider-feed-back .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #231F20;
}
.client-feed-back .slider-feed-back .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 2px;
  background: #BCBDC0;
  width: 10px;
  height: 10px;
}
@media only screen and (max-width: 576px) {
  .client-feed-back .slider-feed-back .owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
  }
}
.client-feed-back .slider-feed-back .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #231F20;
}
.client-feed-back .slider-feed-back .card {
  text-align: center;
  border: none;
  background-color: transparent;
}
.client-feed-back .slider-feed-back .card .client-images {
  max-width: 116px;
  height: 116px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}
.client-feed-back .slider-feed-back .card .client-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.client-feed-back .slider-feed-back .card .card-body.talk {
  padding: 0px 175px 16px 175px;
  line-height: 38px;
}
@media only screen and (max-width: 768px) {
  .client-feed-back .slider-feed-back .card .card-body.talk {
    padding: unset;
  }
}

.breadcumb-pages {
  background: #F6F7F8;
}
.breadcumb-pages .breadcrumb {
  background: transparent;
  padding: 15px 0px;
}
.breadcumb-pages .breadcrumb li {
  font-size: 14px;
}

.infor-product .product-galerry img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.infor-product .product-galerry .slider-for {
  -webkit-box-shadow: 0px 2px 16px 1px rgba(233, 236, 239, 0.61);
  box-shadow: 0px 2px 16px 1px rgba(233, 236, 239, 0.61);
}
.infor-product .product-galerry .slider-for:hover .slick-prev {
  opacity: 1;
  visibility: visible;
}
.infor-product .product-galerry .slider-for:hover .slick-next {
  opacity: 1;
  visibility: visible;
}
.infor-product .product-galerry .slider-for .item {
  height: 385px;
  cursor: pointer;
}
.infor-product .product-galerry .slider-for .slick-prev {
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.infor-product .product-galerry .slider-for .slick-prev:before {
  content: "\f104";
  font-family: "fontawesome";
  color: #000;
}
.infor-product .product-galerry .slider-for .slick-next {
  right: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.infor-product .product-galerry .slider-for .slick-next:before {
  content: "\f105";
  font-family: "fontawesome";
  color: #000;
}
.infor-product .product-galerry .slider-nav {
  background-color: rgba(246, 247, 248, 0.753);
  margin-top: 16px;
}
.infor-product .product-galerry .slider-nav:hover .slick-prev {
  opacity: 1;
  visibility: visible;
}
.infor-product .product-galerry .slider-nav:hover .slick-next {
  opacity: 1;
  visibility: visible;
}
.infor-product .product-galerry .slider-nav .item {
  cursor: pointer;
  height: 100%;
}
.infor-product .product-galerry .slider-nav .item img {
  border: 1px solid rgba(246, 247, 248, 0.753);
  padding: 0px 5px;
}
.infor-product .product-galerry .slider-nav .slick-prev {
  background: rgba(188, 189, 192, 0.699);
  height: 100%;
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.infor-product .product-galerry .slider-nav .slick-prev:before {
  content: "\f104";
  font-family: "fontawesome";
  color: #000;
}
.infor-product .product-galerry .slider-nav .slick-next {
  background: rgba(188, 189, 192, 0.699);
  height: 100%;
  right: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.infor-product .product-galerry .slider-nav .slick-next:before {
  content: "\f105";
  font-family: "fontawesome";
  color: #000;
}
.infor-product .infor-shop {
  text-align: center;
  padding-top: 15px;
}
.infor-product .infor-shop h4 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}
.infor-product .exceprt-product .product-title {
  padding-bottom: 20px;
  border-bottom: 2px solid #7FCAEC;
}
.infor-product .exceprt-product .product-title h1 {
  font-size: 28px;
  color: #0095DA;
  line-height: 40px;
}
.infor-product .exceprt-product .product-title p {
  font-size: 13px;
  color: #0095DA;
}
.infor-product .exceprt-product .custom-field {
  padding-top: 24px;
  padding-bottom: 23px;
  font-size: 13px;
  border-bottom: 1px solid #3F3F3F;
}
.infor-product .exceprt-product .custom-field .row-field h4 {
  padding-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .infor-product .exceprt-product .custom-field .row-field .list-field {
    margin-bottom: 15px;
  }
}
.infor-product .exceprt-product .custom-field .row-field .list-field li {
  line-height: 25px;
}
.infor-product .exceprt-product .price-box {
  font-size: 13px;
  padding-top: 17px;
  font-weight: 700;
}
.infor-product .exceprt-product .price-box .price-online {
  padding-top: 4px;
}
.infor-product .exceprt-product .add-to-cart-box {
  display: flex;
  padding-top: 12px;
}
.infor-product .exceprt-product .add-to-cart-box .btn-cart-box {
  background: #FFD52F;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 40px;
  text-transform: uppercase;
  border-radius: 5px;
}
.infor-product .exceprt-product .add-to-cart-box .btn-cart-box.buy-now {
  margin-right: 24px;
}
@media only screen and (max-width: 768px) {
  .infor-product .exceprt-product .add-to-cart-box .btn-cart-box {
    flex: 1;
    padding: 8px 0px;
  }
  .infor-product .exceprt-product .add-to-cart-box .btn-cart-box.buy-now {
    margin-right: 15px;
  }
}
.infor-product .exceprt-product .hot-line {
  padding-top: 18px;
}
.infor-product .exceprt-product .hot-line p {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
}
.infor-product .exceprt-product .hot-line p:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url(../images_icon/phone2.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  top: 0;
  left: 0;
}

.located-product {
  background: #F6F7F8;
  padding: 27px 0px;
  margin-top: 25px;
}
.located-product .located-title {
  background: #FFD52F;
}
.located-product .located-title h2 {
  font-size: 14px;
  text-transform: uppercase;
  padding: 13px;
}
.located-product .located-map {
  border-bottom: 1px solid #B9BBBE;
  padding-bottom: 24px;
  padding-top: 15px;
}
.located-product .located-map ul li {
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
}
@media only screen and (max-width: 768px) {
  .located-product .located-map ul li {
    justify-content: space-between;
  }
}
.located-product .located-map ul li p {
  font-size: 14px;
  display: inline-block;
  flex: 1;
  font-weight: 700;
}
.located-product .located-map ul li p:first-child {
  margin-right: 60px;
}
@media only screen and (max-width: 768px) {
  .located-product .located-map ul li p {
    flex: 1;
  }
  .located-product .located-map ul li p:first-child {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .located-product .located-map ul li p {
    flex: 0 0 100%;
  }
  .located-product .located-map ul li p:first-child {
    margin-right: unset;
  }
}
.located-product .located-contact {
  padding: 23px 0px;
  border-bottom: 1px solid #B9BBBE;
}
.located-product .located-contact .flex-ul {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .located-product .located-contact .flex-ul {
    margin-bottom: 10px;
  }
}
.located-product .located-contact .flex-ul li {
  flex: 1;
  font-size: 14px;
}
.located-product .located-contact .flex-ul li:first-child p {
  font-weight: 700;
  position: relative;
  padding-left: 28px;
}
.located-product .located-contact .flex-ul li:first-child p:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../images_icon/phone2.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  top: 0;
  left: 0;
}
.located-product .located-contact .flex-ul li:last-child p {
  color: #ED1C24;
}
.located-product .located-sale {
  padding-top: 25px;
}
.located-product .located-sale .sale-box li {
  display: flex;
  flex-wrap: wrap;
  line-height: 28px;
}
.located-product .located-sale .sale-box li p {
  font-size: 14px;
  font-weight: 700;
}
.located-product .located-sale .sale-box li p:last-child {
  padding-left: 100px;
}
@media only screen and (max-width: 768px) {
  .located-product .located-sale .sale-box li p {
    flex: 1;
  }
  .located-product .located-sale .sale-box li p:last-child {
    padding-left: unset;
  }
}
@media only screen and (max-width: 576px) {
  .located-product .located-sale .sale-box li p {
    flex: 0 0 100%;
  }
  .located-product .located-sale .sale-box li p:last-child {
    padding-left: unset;
  }
}
.located-product .located-sale .sale-box li p:before {
  content: "\f101";
  font-family: "fontawesome";
  padding-right: 3px;
}

.product-tabs {
  padding-top: 26px;
}
.product-tabs .tabs-box .tabs-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-tabs .tabs-box .tabs-title h3 {
  border-bottom: 1px solid #A0A1A3;
  padding-bottom: 10px;
}
.product-tabs .tabs-box .tabs-title h3 span {
  border-bottom: 1px solid #FFD52F;
  padding-bottom: 10px;
}
.product-tabs .tabs-box .content {
  padding-top: 20px;
}

.right-widget .main-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #FFD52F;
  margin-bottom: 10px;
}
.right-widget .main-title-box .title-cate {
  background: #FFD52F;
  padding: 9px 60px 9px 13px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}
.right-widget .main-title-box a {
  font-size: 14px;
}
.right-widget .main-title-box a:after {
  content: "\f101";
  font-family: "fontawesome";
}
.right-widget .right-widget-product .owl-carousel .owl-nav {
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
  margin-top: unset;
  position: absolute;
  top: -35px;
  right: 0;
  display: flex;
  justify-content: flex-start;
}
.right-widget .right-widget-product .owl-carousel .owl-nav button {
  background: none;
  border: none;
  outline: none;
  font-size: 28px;
  width: 5px;
  z-index: 4;
}
.right-widget .right-widget-product .owl-carousel .owl-nav button:hover {
  background: none;
  color: #000;
}
.right-widget .right-widget-product .owl-carousel .owl-nav button.owl-prev {
  position: static;
}
.right-widget .right-widget-product .owl-carousel .owl-nav button.owl-next {
  position: static;
}
.right-widget .right-widget-product .media {
  border: 2px solid #F0F1F0;
  border-radius: 5px;
  margin-bottom: 20px;
}
.right-widget .right-widget-product .media .images {
  max-width: 115px;
  height: 115px;
  flex: 1;
}
.right-widget .right-widget-product .media .images img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.right-widget .right-widget-product .media .media-body {
  margin-top: 10px;
  margin-left: 40px;
  padding: 0px 20px 0px 0px;
}
.right-widget .right-widget-product .media .media-body .title {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.right-widget .right-widget-product .media .media-body .price {
  font-size: 14px;
  font-weight: bold;
  color: #F0565D;
  padding-top: 15px;
}

.form-res select {
  width: 100%;
  border: 1px solid #E3E3E3;
  font-size: 14px;
  height: 30px;
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .form-res select {
    margin-bottom: 10px;
  }
}

.list-blog-cate {
  padding: 35px 0px;
}
.list-blog-cate .main-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #FFD52F;
  margin-bottom: 10px;
}
.list-blog-cate .main-title-box .title-cate {
  background: #FFD52F;
  padding: 9px 60px 9px 13px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}
.list-blog-cate .main-title-box a {
  font-size: 14px;
}
.list-blog-cate .main-title-box a:after {
  content: "\f101";
  font-family: "fontawesome";
}
.list-blog-cate .card {
  border: none;
  border-radius: unset;
  background: #FFFFFF;
  -webkit-box-shadow: -1px 1px 6px 3px rgba(238, 240, 240, 0.82);
  box-shadow: -1px 1px 6px 3px rgba(238, 240, 240, 0.82);
  margin-bottom: 25px;
}
.list-blog-cate .card .imgaes .card-img-top {
  border-radius: unset;
}
.list-blog-cate .card .card-body {
  padding: 10px;
}
.list-blog-cate .card .card-body .card-title {
  font-weight: 700;
}

.main-blog-detail {
  padding: 35px 0px;
}
.main-blog-detail .detail-box .blog-title h1 {
  font-size: 30px;
  font-weight: 700;
}
.main-blog-detail .detail-box .content {
  padding-top: 25px;
}
.main-blog-detail .detail-box .tag-blogs {
  margin-top: 25px;
  background-color: #F6F7F8;
  padding: 15px 0px 15px 15px;
  border: 1px solid #F0F1F0;
  border-radius: 5px;
}
.main-blog-detail .related-blogs {
  padding: 25px 0px;
}
.main-blog-detail .related-blogs .related-title {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
}
.main-blog-detail .related-blogs .related-title h2 {
  border-bottom: 1px solid #A0A1A3;
  padding-bottom: 15px;
}
.main-blog-detail .related-blogs .related-title h2 span {
  border-bottom: 1px solid #FFD52F;
  padding-bottom: 15px;
}
.main-blog-detail .related-blogs .list-related {
  padding-top: 10px;
}
.main-blog-detail .related-blogs .list-related ul li a {
  font-size: 16px;
  font-weight: bold;
}
.main-blog-detail .related-blogs .list-related ul li a::before {
  content: "\f105";
  font-family: "fontawesome";
  padding-right: 5px;
  line-height: 25px;
}

.single-main {
  padding: 40px 0px;
}
.single-main .search-form-hd form {
  display: flex;
}
.single-main .search-form-hd form input {
  width: 363px;
  height: 33.6px;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-right: none;
  outline: none;
  padding-left: 10px;
}
.single-main .search-form-hd form input::placeholder {
  font-size: 13px;
}
.single-main .search-form-hd form button {
  width: 61px;
  height: 33.6px;
  background-color: #FFD52F;
  border: 1px solid #333;
}
.single-main .el-res {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-main .el-res p {
  font-size: 80px;
  font-weight: 700;
  color: #000;
  opacity: .3;
}
.single-main .page-title {
  padding-top: 15px;
}
.single-main .page-title h3 {
  font-size: 25px;
  font-weight: 700;
}
.single-main .page-content {
  padding-top: 20px;
}
.single-main .search-form-hd {
  padding-top: 20px;
}
